---
layout: page
title: Contact
permalink: /contact/
---

<div class="home">

    <p>
      Always contact to me. Use all of about contact email, github, write down DISQUS comment.<br />
      I try to answer quickly but Sometimes so slowly reply. <br />

    </p>
    <div class="social-media-list">
      <ul>
        <li>{% include icon-github.html username="seungdols" %}</li>
        <li>{% include icon-twitter.html username="seungdols" %}</li>
        <li>seungdols0822@gmail.com</li>
      </ul>

    </div>
</div>
