<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-wrapper">
            <div class="footer-social-wrapper">
            <a href="http://seungdols.tistory.com" class="social-link" target="_blank">
                <img Class="img-social" src="{{site.baseurl}}/assets/img/social-blog.png" alt="" />
            </a>
            <a href="http://www.github.com/seungdols" class="social-link" target="_blank">

                <img Class="img-social" src="{{site.baseurl}}/assets/img/social-github.png" alt="" />
            </a>
            <a href="http://www.slideshare.net/seunghochoi4" class="social-link" target="_blank">

                <img Class="img-social" src="{{site.baseurl}}/assets/img/social-slideshare.png" alt="" />
            </a>

            <a href="https://twitter.com/seungdols" class="social-link" target="_blank">

                <img Class="img-social" src="{{site.baseurl}}/assets/img/social-twitter.png" alt="" />
            </a>

            <a href="https://www.facebook.com/seungdols" class="social-link" target="_blank">

                <img Class="img-social" src="{{site.baseurl}}/assets/img/social-facebook.png" alt="" />
            </a>
            </div>
            <span>
                All contents &copy;2015-2018
                <a href="{{ site.baseurl }}/">{{ site.title }}</a><br >Designed by creatijin
            </span>

        </div>

    </div>
</footer>
