
/**
 * Site header
 */
.site-header {
    // border-top: 1px solid $grey-color-light;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    border-top: 1px solid $grey-color-light;

}
.header-text{
    display: table;
    margin: 0 auto;
    span{
        font-size: 1.1em;
        font-style: italic;
        color: $header-text-color;
    }
}
.header-title{
    display: table;
    margin: 0 auto;
    a {
        font-size: 2.5em;
    }
}
.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}
/******set social-link*******/
.social-wrapper{
    float: right;
}
.social-link{
    max-width: 32px;
    max-height: 32px;
    .img-social{
        max-width: 32px;
        max-height: 32px;
    }
}
/*******hidding footer-social-link on desktop and laptop*********/
@media screen and(min-width:700px) {
    .footer-social-wrapper{display: none;}
    .img-social{display: hidden;}
}



.site-nav {
    // float: left;
    font-size: 1.3em;
    line-height: 66px;
    border-bottom: 1px solid $grey-color-light;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        /*******hidding nav-social-link on mobile*********/
        .social-wrapper{display: none;}
        .img-social{display: hidden;}
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            float: left;
            // clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


.post-wrapper{
  padding: 10px;

  border-bottom: 1px dashed #ccc;

}
/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}
.footer-wrapper{
  margin: 0 auto;
  text-align: center;
  font-size: 12pt;
  padding: 20px 0;
  border-top: 1px solid $grey-color-light;
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-h2{
    text-align: center;
}

.post-desc{
    font-size: $base-font-size;
    font-family: $post-desc-font;
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.post-link {
    display: block;
    font-size: 20pt;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: $post-title-color;
    text-align: center;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    font-family: $post-content-font;
    font-size: $post-content-font-size;
    margin-bottom: $spacing-unit;
    p{
        padding-left: 1.1em;
    }
    h1 {
        font-size: 32px;
        background-color: $text-color;
        color: $background-color;
        padding: 10px 10px;
        text-align: center;
        margin-bottom: 1.1em;
        @include media-query($on-laptop) {
            font-size: 28px;
            background-color: $text-color;
            color: $background-color;
            padding: 10px 10px;
            text-align: center;
        }
    }
    h2 {
        font-size: 26px;
        padding: 10px 10px;
        border-bottom: 2px dotted $grey-color;
        @include media-query($on-laptop) {
            font-size: 22px;
            padding: 10px 10px;
            border-bottom: 2px dotted $grey-color;
        }
    }

    h3 {
        font-size: 24px;
        border-left: 5px solid $text-color;
        padding: 10px;
        @include media-query($on-laptop) {
            font-size: 20px;
            border-left: 5px solid $text-color;
            padding: 10px;
        }
    }

    h4 {
        font-size: 22px;
        border-bottom: 1px solid $text-color;
        padding: 10px;
        @include media-query($on-laptop) {
            font-size: 18px;
            border-bottom: 1px solid $text-color;
            padding: 10px;
        }
    }
    h5 {
        font-size: 20px;
        padding: 10px;
        @inclue media-query($on-laptop) {
            font-size:16px;
            padding: 10px;
        }
    }
    /**
     * Links
     */
    a {
        color: $link-post-color;
        text-decoration: none;

        &:visited {
            color: darken($brand-color, 15%);
        }

        &:hover {
            color: lighten($link-post-color, 20%);
            text-decoration: none;
        }
    }
    img{
        display: block;
        margin: 10px auto;
    }
}

/*Tag from https://alexpearce.me*/
.tags {
  padding: 0;
  list-style-type: none;
  font-size: 1.0em;
  text-align: center;
}

.tags li {
  display: inline-block;
  margin: 0 0px;
}

.tags li a {
  padding: 1px 12px 2px 0px;
  color: $tag-color;
}

.tags li a:hover {
  color: #5e6d74;
}
.wrapper-tags{
    min-height: 60px;
}
.post-tags {
  float:right;
}
.tags-ul{
    margin-left: 0;

}

.results{
    li{
        font-size: $base-font-size+0.3;
    }
}
